@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
.container{
    background-color: #fff;
    border-radius: 16px;
    height: 700px;
    margin: 20px auto auto;
    max-width: 390px;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #838282;
}

.header {
    background-image: url(https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 140px;
    object-fit: cover;
}

.main {
    height: 560px;
}